@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap");

* {
  font-family: "Sofia Sans", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #0c1521 solid 5px;
}

#header-logo {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 38px;
  margin-left: 210px;
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-right: 210px;
}

.header-links {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.hero-text {
  background-color: #1f2937;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: #0c1521 solid 5px;
}

.left-side-hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
}

.right-side-hero-text {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;
}

.hero-text-header {
  color: white;
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
}

.hero-text-paragraph {
  color: #eee;
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
}

.hero-text-button {
  border: none;
  border-radius: 10px;
  font-size: 25px;
  background-color: #3882f6;
  color: white;
  align-self: flex-start;
  margin-top: 10px;
}

.hero-text-button:hover {
  background-color: #0047b9;
  cursor: pointer;
}

.hero-text-image {
  border-radius: 15px;
  opacity: 0.5;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 50px;
}

.section-one-header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.dummy-square {
  width: 200px;
  height: 200px;
  border: #3882f6 solid 5px;
  border-radius: 15px;
}

.subsection-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subsection-one-paragraph {
  text-align: center;
  inline-size: 200px;
}

.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.section-two-paragraph {
  width: 750px;
  text-align: left;
  color: #333;
  font-size: 30px;
  margin: 85px;
  margin-bottom: 25px;
  font-style: italic;
}

.section-two-header {
  align-self: flex-end;
  font-size: 35px;
  margin: 85px;
  margin-top: 0;
}

.section-two-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-three-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-three-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  margin-top: 85px;
  margin-bottom: 85px;
  width: 1000px;
  height: 190px;
  border-radius: 30px;
}

.section-three-left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section-three-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-three-button {
  border: 2px solid white;
  border-radius: 10px;
  font-size: 25px;
  background-color: #3882f6;
  color: white;
  padding: 5px;
  margin-right: 180px;
}

.section-three-button:hover {
  cursor: pointer;
  background-color: #0a68ff;
}

.section-three-header {
  color: white;
  font-size: 28px;
  align-self: flex-start;
  margin-bottom: 0;
  margin-left: 180px;
}

.section-three-paragraph {
  color: #eee;
  font-size: 18px;
  margin-left: 180px;
}
